@{
    ViewData["Title"] = "Sản phẩm";
}
@section css {
    <link rel="stylesheet" href="~/css/product.css">
}
@section Scripts {
    <script src="~/js/product.js"></script>
}
<div class="path">
    <a asp-controller="Home" asp-action="Index">Trang chủ | </a>
</div>
<div class="left">
    <div class="left_category">
        <div class="left__item">
            <a href="">
                <span>Bàn phím</span>
            </a>
            <a href="">
                <span>Chuột</span>
            </a>
            <a href="">
                <span>Tai nghe</span>
            </a>
            <a href="">
                <span>Webcam</span>
            </a>
        </div>
    </div>
</div>
<div class="main">
    <div class="row">
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
        <div class="row__item">
            <div class="row__item--img">
                <img src="~/img/ban-phim.jpg" alt="Ảnh bàn phím">
                <div class="product__hover">
                    <a href="">Xem</a>
                    <a href=""><img src="~/img/cart.png" alt=""></a>
                </div>
            </div>
            <div>
                <p>Bàn phím</p>
                <a href="">Bàn phím ek</a>
                <h2>500,000 VND</h2>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="page__prev">
            <div class="page__item">
                <a href="">prev</a>
            </div>
        </div>
        <div class="page__num">
            <div class="page__item">
                <a href="">1</a>
            </div>
            <div class="page__item">
                <a href="">2</a>
            </div>
            <div class="page__item">
                <a href="">3</a>
            </div>
        </div>
        <div class="page__next">
            <div class="page__item">
                <a href="">next</a>
            </div>
        </div>
    </div>
</div>